.site-footer{
    position: unset;
    bottom: 0;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    width: unset;
    right: 0;
    justify-content: flex-end;
    background-color: var(--white);

    small{
        margin: 0 4rem;
        color: var(--hover);
    }

    @media (min-width: 376px) {
        position: fixed;
        width: 100%;
    }
}